body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
}

.cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.weather-card {
  display: grid;
  grid-template-rows: 100px 500px;
  height: 600px;
  width: 500px;
  border-radius: 8px;
  border: 1px solid black;
  margin: 100px auto;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-row {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon{
  border-radius: 8px;
  box-shadow: 2px 2px 4px black;
}

h1 {
  text-align: center;
  font-size: 48px;
}

h2 {
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 32px;
}
